<form action='/birthday' method=POST>
<label for= "name">What's your name?</label>
<input type= "text" name= "name">
<br>
<label for= "date">When's your birthday?</label>
<input type= "text" name= "day">
<select name="month">
<option>- Month -</option>
<option value="January">January</option>
<option value="Febuary">Febuary</option>
<option value="March">March</option>
<option value="April">April</option>
<option value="May">May</option>
<option value="June">June</option>
<option value="July">July</option>
<option value="August">August</option>
<option value="September">September</option>
<option value="October">October</option>
<option value="November">November</option>
<option value="December">December</option>
</select>
<br>
<input type ="submit" value="Go!">
</form>
