<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
<div id='centered'>
<h2>Happy Birthday, <%= session[:name] %>!</h2>
<br>
</div>
<div class='gif'>
<img src = "/images/birthday_cake.gif" alt_text='A birthday cake'>
</div>
